%div
  %table
    %thead
      %tr
        %th #
        %th Nickname
        %th Num of Pages
        %th Num of Commits
    %tbody
      - ranking.each_with_index do |checkpoint, i|
        %tr
          %td= i + 1
          %td= show_user_badge(checkpoint.user)
          %td= checkpoint.num_of_pages
          %td= checkpoint.num_of_commits
