.search_bar
  = form_tag nil, id: 'search_form' do
    = text_field :search, :keyword, id: 'search_keyword',
      value: params[:keyword], placeholder: t('search.placeholder')
    = submit_tag t('button.search'), id: 'search_submit'
