- user_judgement = presentation.judgement_by(@current_user)
- if user_judgement.present?
  - judgement = user_judgement.stringify
  %div{ class: "judgement #{judgement.downcase}" }= judgement
  = link_to 'RESET', user_judgement_path(user_judgement),
    method: :delete, remote: true, class: 'button reset'
- else
  = link_to 'PASS',
    presentation_user_judgements_path(presentation, user_judgement: { passed: true }),
    method: :post, remote: true, class: 'button pass'
  = link_to 'FAIL',
    presentation_user_judgements_path(presentation, user_judgement: { passed: false }),
    method: :post, remote: true, class: 'button fail'
