.content
  %h1= t 'privileges.header'
  %ul.accordion-tabs
    - @privilege_groups.each do |name, privileges|
      %li.tab-header-and-content
        %a.tab-link= name
        .tab-content
          - privileges.each do |p|
            = show_user_badge(p.user)
