= render 'search/search_bar'

.content
  %h2
    新しく作られたページ

  %ul
    - @recent_pages.each do |page|
      %li= link_to page.title, page_path(path: page.path)

  %h2
    ここはなに？

  = raw include_page_content('TopPage')
