- content_for :title, 'Thesis'

.content-outer
  .content
    = raw include_or_create_page_content('Thesis', '卒論の説明をつくる', edit_link: true)
    = raw include_or_create_page_content("#{term_name}/Thesis", '今学期の卒論情報を載せる', edit_link: true)
