- content_for :title, 'Thesis'

.content-outer
  .content
    = include_or_create_page_content('Thesis',
      t('pages.create_gp_explanation_msg')).html_safe
    = include_or_create_page_content("#{term_name}/Thesis",
      t('pages.create_this_sem_gp_page_msg')).html_safe
