- content_for :title, 'WIP/TERM'

.content-outer
  .content
    = include_or_create_page_content('WipTerm',
      t('pages.create_wip_term_explanation_msg')).html_safe
    = include_or_create_page_content("#{term_name}/WipTerm",
      t('pages.create_this_sem_wip_term_page_msg')).html_safe
