- content_for :title, 'WIP/TERM'

.content-outer
  = raw include_or_create_page_content('WipTerm', 'WIP/TERMの説明をつくる')
  = raw include_or_create_page_content("#{term_name}/WipTerm", '今学期のWIP/TERM情報を載せる')
