.content {
  $_content_padding: 10px;

  h1 {
    font-size: 150%;
    padding: $_content_padding;
    background-color: #ddd;
    border-radius: 3px;
  }

  h2 {
    font-size: 140%;
    padding: 5px $_content_padding;
    border-bottom: solid 4px #eee;
  }

  h3 {
    font-size: 130%;
  }

  h4 {
    font-size: 120%;
  }

  h5 {
    font-size: 110%;
  }

  h6 {
    font-size: 100%;
  }

  ul li {
    padding-left: 10px;
    list-style-type: disc;
    list-style-position: inside;
  }

  ol li {
    padding-left: 10px;
    list-style-type: decimal;
    list-style-position: inside;
  }

  h3, h4, h5, h6, p, ol, ul, table, img {
    margin-bottom: 20px;
    padding: 0 $_content_padding;
  }
}
