@media screen and (max-width: 640px) {
  nav {
    padding: 0 5px;
  }

  nav .inner-left {
    @include span-columns(3 of 5);

    .mobile-control {
      cursor: pointer;
      display: inline-block;
      padding-right: 10px;
    }

    .control {
      background-color: #3c3c3c;
      bottom: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      &.shown {
        opacity: 1;
        bottom: auto;
        top: $nav_height;
      }

      a {
        display: block;
        border-top: 1px solid $light-gray;
        padding-left: 20px;
      }
    }
  }

  nav .inner-right {
    @include span-columns(2 of 5);

    .user .name {
      display: none;
    }
  }

  .main {
    padding: 10px;
  }

  .left.content,
  .right.content {
    @include span-columns(12);
  }
}
