body {
  background-color: #eeeeee;
}

nav > .inner,
.header > .inner,
.main {
  @include outer-container(1200px);
}

nav {
  $_nav_height: 50px;
  height: $_nav_height;
  padding: 0 30px;
  color: white;
  background-color: #3c3c3c;

  .inner {
    @include row();
    padding: 0 10px;
  }

  .inner-left {
    @include span-columns(1 of 2);
    height: $_nav_height;
    line-height: $_nav_height;

    >div {
      display: inline-block;
    }
  }

  .inner-right {
    @include span-columns(1 of 2);
    height: $_nav_height;
    line-height: $_nav_height;
    text-align: right;

    >div {
      display: inline-block;
    }
  }

  .title {
    a {
      color: white;
    }
  }

  .control {
    font-size: 0;
    margin-left: 20px;

    a {
      color: $light-gray;
      display: inline-block;
      font-size: 1rem;
      height: $_nav_height;
      padding: 0 15px;

      &:hover {
        background-color: $dark-gray;
        color: $medium-gray;
      }
    }
  }

  .user {
    $_icon_size: 36px;

    .icon {
      display: inline;

      img {
        margin-top: ($_nav_height - $_icon_size) / 2;
        margin-right: 5px;
        border-radius: 3px;
        width: $_icon_size;
        height: $_icon_size;
      }
    }

    .name {
      display: inline;
      vertical-align: top;
    }
  }
}

.main {
  padding: 25px;
  background-color: white;
}

.search_bar {
  @include outer-container(600px);
  margin-top: 25px;
  margin-bottom: 50px;

  #search_keyword {
    margin-bottom: 0;
    display: inline;
    width: 80%;
  }

  #search_submit {
    padding: 10px;
    display: inline;
    width: 15%;
  }
}
