// Reset CSS
@import "reset";

// Bootstrap
@import "bourbon";
@import "neat";
@import "base/base";

// FontAwesome
@import "font-awesome-sprockets";
@import "font-awesome";

// Customize
@import "color";
@import "content";
@import "style";

// Controller
@import "pages";
@import "search";
@import "settings";

.flash {
  margin: 0 10px 20px;
  padding: 10px;

  &.error {
    background-color: $light-red;
    border: solid 1px $dark-red;
  }
}
