// Reset CSS
@import "reset";

// Autocomplete
@import "prism/themes/prism";

// Bootstrap
@import "bourbon";
@import "neat";
@import "base/base";
@import "refills/accordion-tabs";

// FontAwesome
@import "font-awesome-sprockets";
@import "font-awesome";

// Customize
@import "color";
@import "size";
@import "content";
@import "style";

// Controller
@import "pages";
@import "search";
@import "settings";
@import "users";
@import "meetings";
@import "presentations";
@import "blogs";
@import "responsive";
@import "presentation_orders";

.flash {
  margin: 0 10px 20px;
  padding: 10px;

  &.success {
    background-color: $light-green;
    border: solid 1px $dark-green;
  }

  &.error {
    background-color: $light-red;
    border: solid 1px $dark-red;
  }
}

.pagination {
  text-align: center;
  background-color: white;
  color: black;
}

.js-smart-uploader {
  transition: box-shadow 0.2s linear;

  &.dragover {
    box-shadow: $dark-green 0 0 5px !important;
  }
}

.textcomplete-dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  background-color: white;

  li {
    border-top: 1px solid #ddd;
    padding: 2px 5px;
  }

  li:first-child {
    border-top: none;
  }

  li:hover, .active {
    background-color: rgb(110, 183, 219);
  }

  a:hover {
    cursor: pointer;
  }
}

.footer {
  margin: 20px;
  color: #888;
  font-size: 12px;
  text-align: center;

  a {
    color: #888;
  }
}
