.content {
  .breadcrumb {
    .link {
      display: inline;
      font-size: 90%;
      margin-right: 10px;
      padding: 0;

      a {
        color: #666;
      }

      &:before {
        padding-right: 6px;
        content: '≫';
        color: #666;
      }
    }
  }
}

.datetime_select {
  select {
    display: inline-block;
    width: auto;
  }
}

.meetings.show {
  .handout_link {
    margin: 0;
  }
}
