.header {
  padding: 0 25px;
  background-color: #F93;

  .inner {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.14);
  }

  h1 {
    margin-bottom: 0;
    font-size: 200%;
    color: white;
  }

  .edit {
    padding: 4px 8px;
    background-color: #8B8B8B;
    font-size: 60%;

    a {
      color: white;
    }
  }

  .star {
    margin-left: 5px;
    padding: 4px 8px;
    background-color: #8B8B8B;
    font-size: 60%;
  }

  .breadcrumb {
    .link {
      display: inline;
      margin-right: 10px;
      font-size: 90%;

      a {
        color: #666;
      }

      &:before {
        padding-right: 6px;
        content: '≫';
        color: #666;
      }
    }
  }
}

.likes ,
.comments {
  margin: 10px;
  
  .title {
    font-size: 140%;
    margin-bottom: 10px;
  }
}

.comment {
  $_icon_size: 48px;
  position: relative;
  margin-bottom: 10px;

  .user {
    .icon {
      position: absolute;
      top: 0;
      left: 0;
      width: $_icon_size;
      height: $_icon_size;

      img {
        border-radius: 5px;
        width: $_icon_size;
        height: $_icon_size;
      }
    }
  }

  .box {
    margin-left: $_icon_size + 20px;
    padding: 8px 12px;
    border-radius: 3px;
    position: relative;
    background-color: #ebebeb;

    &:after {
      right: 100%;
      top: 24px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(235, 235, 235, 0);
      border-right-color: #ebebeb;
      border-width: 10px;
      margin-top: -10px;
    }

    .info {
      font-size: 90%;
      font-weight: bold;
      margin-bottom: 8px;
    }

    textarea {
      margin-bottom: 0;
    }
  }
}

.likes .title{
  display: inline-block;
}

.like {
  $_icon_size: 24px;
  display: inline-block;
  margin-right: 10px;

  .icon {
    display: inline;
    width: $_icon_size;
    height: $_icon_size;

    img {
      margin-bottom: 0;
      border-radius: 2px;
      width: $_icon_size;
      height: $_icon_size;
    }
  }

  .nickname {
    display: inline;
    position: relative;
    top: -6px;
  }
}

.new_like {
  margin-top: 10px;
  margin-bottom: 10px;
}
