.pages.index {
  .recent_contents {
    list-style: none;

    li {
      position: relative;
    }

    li::before {
      position: absolute;
      content: " ";
      width: 15px;
      height: 15px;
      top: 5px;
      left: 0;
    }

    .page::before {
      background-color: $page-theme-color;
    }

    .blog::before {
      background-color: $blog-theme-color;
    }
  }
}

.blogs .header {
  background-color: $blog-theme-color;

  .inner {
    background-color: lighten($blog-theme-color, 4%);
  }
}

.pages .header {
  background-color: $page-theme-color;

  .inner {
    background-color: lighten($page-theme-color, 10%);
  }
}

.header {
  padding: 0 25px;

  .inner {
    padding: 30px;
  }

  h1 {
    margin-bottom: 0;
    font-size: 200%;
    color: white;
  }

  .edit,
  .star,
  .history {
    margin-right: 6px;
    padding: 4px 8px;
    background-color: #8B8B8B;
    font-size: 60%;

    a {
      color: white;
    }
  }

  .edited_users {
    .edited_user {
      display: inline;
      position: relative;
      top: 5px;
    }

    .name {
      display: none;
      position: absolute;
      font-size: 12px;
      color: white;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 3px 6px;
      border-radius: 3px;
      top: -24px;
      left: 0;
    }

    .edited_user:hover .name {
      display: block;
    }

    .icon {
      border-radius: 3px;
    }
  }

  .breadcrumb {
    .link {
      display: inline;
      margin-right: 10px;
      font-size: 90%;

      a {
        color: #666;
      }

      &:before {
        padding-right: 6px;
        content: '≫';
        color: #666;
      }
    }
  }
}

.likes,
.comments {
  margin: 10px;

  .title {
    font-size: 140%;
    margin-bottom: 10px;
  }
}

.comment {
  $_icon_size: 48px;
  position: relative;
  margin-bottom: 10px;

  .user {
    .icon {
      position: absolute;
      top: 0;
      left: 0;
      width: $_icon_size;
      height: $_icon_size;

      img {
        border-radius: 5px;
        width: $_icon_size;
        height: $_icon_size;
      }
    }
  }

  .box {
    margin-left: $_icon_size + 20px;
    padding: 8px 12px;
    border-radius: 3px;
    position: relative;
    background-color: #ebebeb;

    &:after {
      right: 100%;
      top: 24px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(235, 235, 235, 0);
      border-right-color: #ebebeb;
      border-width: 10px;
      margin-top: -10px;
    }

    .info {
      font-size: 90%;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .nickname {
      display: inline-block;
    }

    .time {
      display: inline-block;
      color: gray;
    }

    textarea {
      margin-bottom: 0;
    }
  }
}

.likes .title{
  display: inline-block;
}

.like {
  $_icon_size: 24px;
  display: inline-block;
  margin-right: 10px;

  .icon {
    display: inline;
    width: $_icon_size;
    height: $_icon_size;

    img {
      margin-bottom: 0;
      border-radius: 2px;
      width: $_icon_size;
      height: $_icon_size;
    }
  }

  .nickname {
    display: inline;
    position: relative;
    top: -6px;
  }
}

.new_like {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content .edit_link {
  font-size: 60%;
  padding: 0;
  text-align: right;
  width: 100%;

  a {
    border: solid 1px lightgray;
    border-radius: 3px;
    color: gray;
    padding: 5px 10px;

    &:hover {
      border-color: gray;
      color: black;
    }
  }
}

.pages.edit {
  .action_link {
    margin-left: 10px;
  }
}
