.handout-pdf {
  width: 80%;
  margin: 0 auto;

  object {
    width: 100%;
    height: 600px;
  }
}

@media screen and (max-width: 800px) {
  .handout-pdf {
    display: none;
    visibility: hidden;
  }
}

.judgement-field {
  .button.pass {
    background-color: $medium-green;

    &:hover,
    &:focus {
      background-color: darken($medium-green, 15%);
    }
  }

  .button.fail {
    background-color: $medium-red;

    &:hover,
    &:focus {
      background-color: darken($medium-red, 15%);
    }
  }

  .button.reset {
    background-color: $medium-gray;

    &:hover,
    &:focus {
      background-color: darken($medium-gray, 15%);
    }
  }

  .judgement {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-weight: 600;

    &.pass {
      color: $medium-green;
    }

    &.fail {
      color: $medium-red;
    }
  }
}

.next-presentation {
  text-align: right;
}
