.search_result {
  display: block;
  margin-bottom: 10px;
  padding: 15px 15px 0;
  border: solid 2px #eee;
  border-bottom: solid 3px #ddd;
  border-radius: 5px;
  color: #444;

  .label {
    display: inline;
    border-radius: 3px;
    font-weight: bold;
    padding: 3px 5px;

    &.label-page {
      background-color: #3cf;
      border: solid 1px darken(#3cf, 20%);
    }

    &.label-blog {
      background-color: #f93;
      border: solid 1px darken(#f93, 20%);
    }
  }

  .title {
    display: inline;
    font-size: 110%;
    font-weight: bold;
  }

  .text {
    margin-top: 10px;
  }

  .highlight {
    background-color: #ff9;
  }
}
