.content
  %h1 評価一覧
  %p
    発表者:
    = @presentation.user.nickname
  %p
    発表タイトル:
    = link_to @presentation.title , presentation_path(@presentation)
  %h2 評価
  %table
    %tr
      %th Name
      %th judgement
    - @user_judgements.each do |user_judgement|
      %tr
        %td= user_judgement.user.nickname
        %td= user_judgement.stringify
